@import '../../../variables.scss';

.filter-wrapper{
    display: none;

    @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 2;
        width: calc(100% - 40px);
        background: $white;
        padding: 0 20px;

        & >.filters{
            max-height: 500px;
            overflow: scroll;
            width: 100%;
        }
    }

    &__btn-close{
        position: absolute;
        right: 25px;
        top: 10px;
    }

    &__btns{
        padding: 30px 0;
        border-top: 4px solid $light-gray;
        display: flex;
        justify-content: space-between;

        & .btn{
            margin: 0 5px;

            &--primary{
                color: $white;
                background-color: $black;
                border: none;
            }

            &--default{
                background-color: $white;
                border-color: $black;
            }
        }

    }
}



