@import '../../../variables.scss';

.featured-artwork__btn-add{
    text-transform: uppercase;
    font-weight: 500;
    padding: 13px 40px;
    background-color: $black;
    color: $white;
    border: none;
    outline: none;
    font-size: 23px;
    letter-spacing: 0.07em;
    line-height: 25px;
}