@import '../../../variables.scss';

.product-item{
    margin-left: 110px;
    position: relative;

    &__img{
        width: 100%;

        &-wrapper{
            position: relative;
            max-width: 100%;
        }
    }

    &__price{
        font-size: 29px;
        color: $dark-gray;
    }

    &__bestseller-label{
        position: absolute;
        top: 0;
        left: 0;
        font-size: 20px;
        padding: 8px 25px;
        background-color: $white;
    }

    &__btn .add-to-cart-btn{ 
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}