@import './variables.scss';

.app{
  padding: 0 80px;
}

.title{
  font-weight: 700;
  font-size: 34px;
  margin: 25px 0;

  &--not-active{
    font-weight: 400;
    color: $gray-font;
  }
}

.category-title{
  font-weight: bold;
  font-size: 22px;
  color: $dark-gray;
  text-transform: capitalize;
  margin: 15px 0;
}
