@import './variables.scss';

.app{
  padding: 0 80px;
}

.title{
  font-weight: bold;
  font-size: 34px;
  margin: 25px 0;
}

.category-title{
  font-weight: bold;
  font-size: 22px;
  color: $dark-gray;
  text-transform: capitalize;
  margin: 15px 0;
}
